pipeline/pl_copy_activity_1.json
{
	"name": "pl_copy_activity_1",
	"properties": {
		"activities": [
			{
				"name": "size_file_check",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob_storage_data",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 60,
					"minimumSize": 1024
				}
			},
			{
				"name": "get_the_number_of_row",
				"description": "check the number of row",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "size_file_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob_storage_data",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition_on_raw_data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_the_number_of_row",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('get_the_number_of_row').output.columnCount,13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WebHook1",
							"type": "WebHook",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-29.canadacentral.logic.azure.com:443/workflows/6320c381c55b4d1e9b2387d206c70c58/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=n2P7mm7SJ4EVgsT57elf11yZ8zhG0Rl7Pl58t6hjCHA",
								"method": "POST",
								"body": "dummy",
								"timeout": "00:10:00"
							}
						},
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "WebHook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "the condition is not met",
								"errorCode": "500"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "blob_storage_data",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "raw_population",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Web2",
				"description": "Send API to logic app",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "size_file_check",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "get_the_number_of_row",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 10,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-29.canadacentral.logic.azure.com:443/workflows/6320c381c55b4d1e9b2387d206c70c58/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=n2P7mm7SJ4EVgsT57elf11yZ8zhG0Rl7Pl58t6hjCHA",
					"authentication": {
						"type": "MSI",
						"resource": "logic app"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-08-30T01:41:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}